<div ng-show="obj.state == 'isLoading'" class="loader">
  <div></div>
  <ons-icon icon="ion-load-c" spin="true"></ons-icon>
  <div></div>
</div>
<github-url></github-url>
<!-- Example of a directive -->
<div ng-show="obj.state == 'noResult'" class="noResults">No results found</div>
<ons-list ng-show="obj.state == 'loaded'" class="myList fullHeight">
  <ons-list-item
    modifier="tappable"
    ng-click="cellClick(venue.venueID, $event)"
    ng-repeat="venue in venues"
  >
    <place-item venue="venue" click="cellClick()"></place-item>
  </ons-list-item>
</ons-list>
